@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

/* font-family: 'DM Serif Display', serif; */
/* font-family: 'Prata', serif; */
/* font-family: 'Sorts Mill Goudy', serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App,
:root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  --dark-bg: #333333;
  --dark-text: #f5f5f5;
  font-size: calc(0.5em + 1vmin);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #521b1b; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(129, 82, 82); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(107, 68, 68); 
}

/*Text Selection Color*/
::-moz-selection { /* Code for Firefox */
  color: red;
  background: rgba(255, 255, 255, 0.9);
}

::selection {
  color: red;
  background: rgba(255, 255, 255, 0.9);
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(56, 10, 10);
  
  color: var(--dark-text);
  overflow-x: hidden;
}

.background {
  position: absolute;
  width: 100vw;
  height: 600vh;
  top: -100px;
  left: 0;
  overflow-x: hidden;
  background-image: url('./BackgroundCompressed.png');
  background-size: cover;
  z-index: -100;
}

h1 {
  font-family: 'Teko', sans-serif;
  font-size: 6em;
  text-align: center;
  color: rgba(245, 245, 245, 0.712);
  text-shadow:  0 0 5px rgb(255, 151, 151);
}

h2 {
  font-family: 'Hina Mincho', serif;
  font-size: 2em;
  color: rgba(209, 178, 178, 0.377);
  margin-left: 5%;
}

h3 {
  font-family: 'Teko', sans-serif;
  font-size: 4em;
  text-align: center;
  color: rgba(255, 255, 255, 0.842);
  /* text-shadow:  0 0 5px rgb(0, 0, 0); */
}

b {
  color: rgba(255, 64, 64, 0.911);
  text-shadow:  0 0 10px rgb(180, 15, 15);
}

p {
  font-family: 'Kreon', serif;
  font-size: 1.3em;
}

.landing {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
}

.container {
  height: 100%;
  position: relative;
}

.loading {
  width: 100%;
  height: 100%;
  text-align: center;
}

.loading p {
  font-size: 1em;
}

.tagline {
  top: 0;
  position: absolute;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 90vh;
  z-index: 100;
}

.tagline p {
  font-family: 'Hina Mincho', serif;
  font-size: 1.5em;
  color: rgba(245, 245, 245, 0.712);
  text-shadow:  0 0 5px #fff;
}

.cprstat {
  width: 252px;
  height: 220px;
  transform: scale(0.7);
  background-image: url('./CPRStat.png');
  position: absolute;
  right: 10%;
}

.prologue {
  width: 100vw;
  height: 100vh;
  padding-top: 5%;
}

.prologue .content {
  text-align: center;
}

.btn {
  color: grey;
  cursor: pointer;
}

.btn:hover {
  color: rgb(156, 96, 96);
}

.close {
  position: absolute;
  top: 3%;
  right: 3%;
  transform: scale(2);
}

.next {
  position: absolute;
  bottom: 3%;
  right: 3%;
  transform: scale(3);
}

.prev {
  position: absolute;
  bottom: 3%;
  left: 3%;
  transform: scale(3);
}

.reset {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: scale(2);
}

.prologue-content {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.prologue-content p {
  font-family: 'Hina Mincho', serif;
  font-size: 2em;
  color: rgba(245, 245, 245, 0.712);
  text-shadow:  0 0 5px #fff;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.prologue-choices {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.prologue-btn.active {
  width: 80vw;
  padding: 1%;
  margin: 2%;
  background-color:rgba(104, 95, 95, 0.384);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prologue-btn.active:hover {
  cursor: pointer;
  box-shadow: 5px 5px 2px rgba(230, 167, 167, 0.384);
  /* transform: translate(-5px, -5px); */
  /* color: rgba(255, 49, 49, 0.911); */
  /* text-shadow:  0 0 10px rgb(180, 15, 15); */
}

.prologue-btn.active:active {
  box-shadow: none;
}

.prologue-btn.inactive.wrong {
  width: 80vw;
  padding: 1%;
  margin: 2%;
  background-color:rgba(138, 38, 38, 0.384);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(5px, 5px);
  color:rgba(122, 118, 118, 0.726);
}

.prologue-btn.inactive.correct {
  width: 80vw;
  padding: 1%;
  margin: 2%;
  background-color:rgba(45, 151, 85, 0.384);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(5px, 5px);
}

.explanation {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.637);
}

.circle {
  margin-top: 10px;
  height: 30vh;
  width: 30vh;
  border-width: 0.1em;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  display: inline-block;
}

.circle.active:hover {
  background-color: rgba(209, 178, 178, 0.377);
  cursor: pointer;
}

.circle.correct {
  background-color:rgba(45, 151, 85, 0.384);
}

.circle.active:active {
  background-color: rgba(209, 178, 178, 0.452);
}

.circle-text {
  margin: 0;
  position: relative;
  top: 45%;
  left: 48%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.showanswer:hover {
  cursor: pointer;
}

.breath-bar-border {
  height: 3vh;
  width: 80vw;
  border-style: solid;
  border-color: rgba(228, 228, 228, 0.37);
  border-width: 0.1em;
  margin-top: 10px;
  display: inline-block;
}

.breath-bar {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.637);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.center {
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.scene-zero-background {
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url(./TramBackground.jpg);
  background-size: cover;
  z-index: -100;
}

.scene-one-background {
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url(./SceneOneBackground.png);
  background-size: cover;
  z-index: -100;
}

.call-help-background {
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url(./CallHelpBackground.jpeg);
  background-size: cover;
  z-index: -100;
}

.vitals-background {
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url(./CheckBreathingBackground.jpg);
  background-size: cover;
  z-index: -100;
}

.chest-compressions-background {
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url(./ChestCompressionsBackground.jpg);
  background-size: cover;
  z-index: -100;
}

.breath-background {
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url(./BreathsBackground2.jpg);
  background-size: cover;
  z-index: -100;
}

.overlay {
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color:rgba(56, 4, 4, 0.712);
  z-index: -100;
}

.navbar {
  width: 100vw;
  font-family: 'Special Elite', cursive;
  position: fixed;
  display: flex;
  background: rgb(78,0,0);
  background: linear-gradient(rgb(36, 1, 1),  rgba(255,0,0,0));
  z-index: 5000;
  justify-content: space-around;
}

.navbar-item {
  margin-top: 10px;
  padding: 10px;
}

.navbar-item:hover {
  cursor: pointer;
  color:rgba(185, 185, 185, 0.911);
}

.navbar-btn {
  margin-top: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  text-align: center;
}

.navbar-btn:hover {
  cursor: pointer;
  background-color:rgba(185, 185, 185, 0.336);
}

.gameplay-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gameplay-column {
  flex: 50%;
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
}

.why-columns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.why-col {
  flex: 50%;
}

.col-heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

.col-border {
  padding-left: 1em;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(255, 255, 255, 0.415);
}

.hide {
  display: none;
}

.show {
  display: auto;
}

.special {
  font-family: 'Special Elite', cursive;
  font-size: 1em;
}